// ---- 响应式断点 ----

$sr-breakpoint-sm: 640px;
$sr-breakpoint-md: 768px;
$sr-breakpoint-lg: 1024px;
$sr-breakpoint-xl: 1280px;
$sr-breakpoint-2xl: 1536px;

// 游戏面板
$sr-breakpoint-game-sm: 800px;
$sr-breakpoint-game-md: 1024px;
$sr-breakpoint-game-lg: 1280px;
